@import './variables';

html, body {
  box-sizing: border-box;
  height: 100%;
  position: relative;
  margin: 0;
}

body {
  padding: 20px;
  font-family: sans-serif;
  background: #D2D2D2;
}


.widget-container {
  @media (min-width: $mobile-breakpoint) {
    width: 100%;
    max-width: 750px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  text-align: center;
}