weather-widget {
  display: inline-block;
  margin: 0 25px 25px 0;
}

.weather-widget-body {
  width: 310px;
  height: 160px;
  overflow: hidden;

  background: white;
  padding: 15px;

  border: 1px solid #888;
  border-radius: 10px;
  box-shadow: 7px 7px 5px #777;

  >.title {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 1.5em;
    margin: 0 0 5px 0;
  }

  >.current-condition {
    margin-bottom: 5px;

    >.temperature {
      display: inline-block;
      font-size: 5em;
    }

    >.description {
      display: inline-block;
      >img {
        display:block;
      }
      >.current-condition-label {
        font-size: .8em;
      }
    }
  }

  >.five-day-forecast {
    >.day {
      box-sizing: border-box;
      display: inline-block;
      width: 20%;
      text-align: center;
      padding: 0 5px;

      &:not(:last-child) {
        border-right: 1px dotted #ccc;
      }

    >.day-label, >.temperature {
      display: block;
    }

    >.temperature {
      font-size: .8em;
    }

    }
  }


}